
<row class="posts-wrapper">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post-head">
        <div class="name"> Hailey Houser </div>
    </div>
      <div class="center-block"> <%= image_tag post.image.url(:medium), class: "img-responsive" %> </div>
      <div> <%= post.caption %> </div>
    </div>

  <% end %>
</row>
